// Alucard
@alucard-background: #f8f8f2;
@alucard-foreground: #282a36;
@alucard-selection: #e4e7fa;
@alucard-comment: #9eaee0;
@alucard-red: #ee4444;
@alucard-orange: #eea75b;
@alucard-green: #1cc647;
@alucard-blue: #5555ff;
@alucard-purple: #956bd1;
@alucard-cyan: #6dcbdf;
@alucard-pink: #e55fac;
@alucard-white: #ffffff;
@alucard-black: #000000;
