.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #F8F8F2;
  color: #282A36;
}
.editor .CodeMirror-scroll {
  color: #282A36;
}
.editor .CodeMirror-gutters {
  background-color: #F8F8F2;
}
.editor .CodeMirror-linenumber {
  color: #9EAEE0;
}
.editor .CodeMirror-selected {
  background-color: #E4E7FA;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #E4E7FA;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #282A36;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #282A36 !important;
  border-bottom: 1px solid #1CC647 !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #9EAEE0;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #9EAEE0;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #282A36;
}
.editor .CodeMirror-foldmarker {
  border-color: #E55FAC;
  color: #E55FAC;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.05);
}
.editor .CodeMirror-searching {
  background-color: #1CC647;
}
.editor .CodeMirror-searching.searching-current-match {
  background-color: #EEA75B;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3 {
  color: #6DCBDF;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #6DCBDF;
}
.editor .CodeMirror .cm-url,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #6DCBDF;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #956BD1;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #956BD1;
}
.editor .CodeMirror .cm-variable {
  color: #282A36;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #282A36;
}
.editor .CodeMirror .cm-comment {
  color: #9EAEE0;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #EE4444;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #956BD1;
}
.editor .CodeMirror .cm-link {
  color: #E55FAC;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #956BD1;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-builtin,
.editor .CodeMirror .cm-tag {
  color: #E55FAC;
}
.editor .CodeMirror .cm-quote {
  color: #5555FF;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #9EAEE0;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #EEA75B;
}
.editor .CodeMirror .cm-em {
  color: #5555FF;
  font-style: italic;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #F8F8F2;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.02);
  color: #1CC647;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.01);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #9EAEE0;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(228, 231, 250, 0.7) !important;
}
